body {
    font-family: "Roboto", sans-serif;
    color: #434455;
    background-color:#FFFFFF;
}
.logo {
    color: var(--IRIS, #4D5AE5);
font-family: "Raleway", sans-serif;
font-size: 18px;
font-style: normal;
font-weight: 700;
line-height: 21px; /* 116.667% */
letter-spacing: 0.54px;
text-transform: uppercase;
line-height: 1.17;
}
.logot {
    color: var(--NAVY-BLUE, #2E2F42);
font-family: "Raleway", sans-serif;
font-style: normal;
font-weight: 700;
line-height: 21px; /* 116.667% */
letter-spacing: 0.54px;
text-transform: uppercase;
}
.pidlog {
    color: var(--NAVY-BLUE, #2E2F42);

/* Body Medium */
font-family: "Roboto", sans-serif;
font-size: 16px;
font-style: normal;
font-weight: 500;
line-height: 24px; /* 150% */
letter-spacing: 0.32px;
}
.pidlog:hover {
    color: #404bbf;
}
.pidlog:focus{
    color: #404bbf;
}
.djif {
    font-style: normal;
}
.info {
    color: var(--SLATE, #434455);

/* Body */
font-family: "Roboto", sans-serif;
font-size: 16px;
font-style: normal;
font-weight: 400;
line-height: 24px; /* 150% */
letter-spacing: 0.32px;
}
.info:hover {
    color: #404bbf;
}
.info:focus {
    color: #404bbf;
}
.drusect {
    background-color:#2e2f42;
}
.effe {
    color: var(--WHITE, #FFF);
text-align: center;
line-height: 60px; /* 107.143% */
line-height: 1.07;

/* Header 1 */
font-family: "Roboto", sans-serif;
font-size: 56px;
font-style: normal;
font-weight: 700;
line-height: 60px; /* 107.143% */
letter-spacing: 1.12px;
}
.order {
background-color: #4D5AE5;
font-family: "Roboto", sans-serif;
color: var(--WHITE, #FFF);
font-size: 16px;
font-style: normal;
font-weight: 500;
line-height: 24px; /* 150% */
letter-spacing: 0.64px;
cursor: pointer;
}
.order:hover {
    background-color: #404BBF;
}
.order:focus {
    background-color: #404BBF;
}
.strate {
    color: var(--NAVY-BLUE, #2E2F42);

/* Header 3 */
font-family: "Roboto", sans-serif;
font-size: 20px;
font-style: normal;
font-weight: 500;
line-height: 24px; /* 120% */
letter-spacing: 0.4px;
line-height: 1.2;
}
.identify {
    color: var(--SLATE, #434455);

    /* Body */
    font-family: "Roboto", sans-serif;
    font-size: 16px;
    font-style: normal;
    font-weight: 400;
    line-height: 24px; /* 150% */
    letter-spacing: 0.32px;
}
.team {
    background-color:var(--CLOUD, #F4F4FD);
}
.rrero {
    color: var(--NAVY-BLUE, #2E2F42);
    text-align: center;
    
    /* Header 2 */
    font-family: "Roboto", sans-serif;
    font-size: 36px;
    font-style: normal;
    font-weight: 700;
    line-height: 40px; /* 111.111% */
    letter-spacing: 0.72px;
    text-transform: capitalize;
    line-height: 1.11;
}
.liszka {
background: var(--WHITE, #FFF);
}
.mark {
    color: var(--NAVY-BLUE, #2E2F42);
text-align: center;

/* Header 3 */
font-family: "Roboto", sans-serif;
font-size: 20px;
font-style: normal;
font-weight: 500;
line-height: 24px; /* 120% */
letter-spacing: 0.4px;
}
.product {
    color: var(--SLATE, #434455);
text-align: center;

/* Body */
font-family: "Roboto", sans-serif;
font-size: 16px;
font-style: normal;
font-weight: 400;
line-height: 24px; /* 150% */
letter-spacing: 0.32px;
}
.omega {
    background: var(--NAVY-BLUE, #2E2F42);
}
.jord {
    color: var(--IRIS, #4D5AE5);
font-family: "Raleway", sans-serif;
font-size: 18px;
font-style: normal;
font-weight: 700;
line-height: 21px; /* 116.667% */
letter-spacing: 0.54px;
text-transform: uppercase;
line-height: 1.17;
}
.study {
    color: var(--CLOUD, #F4F4FD);
font-family: "Raleway", sans-serif;
font-size: 18px;
font-style: normal;
font-weight: 700;
line-height: 21px; /* 116.667% */
letter-spacing: 0.54px;
text-transform: uppercase;
}
.increase {
    color: var(--CLOUD, #F4F4FD);

/* Body */
font-family: "Roboto", sans-serif;
font-size: 16px;
font-style: normal;
font-weight: 400;
line-height: 24px; /* 150% */
letter-spacing: 0.32px;
}
.port {
    color: var(--NAVY-BLUE, #2E2F42);
text-align: center;

/* Header 2 */
font-family: "Roboto", sans-serif;
font-size: 36px;
font-style: normal;
font-weight: 700;
line-height: 40px; /* 111.111% */
letter-spacing: 0.72px;
text-transform: capitalize;
line-height: 1.11;
}
.avrora {
    border: 1px solid var(--CORNFLOWER, #E7E9FC);
background: var(--WHITE, #FFF);
}
.kurma {
    color: var(--NAVY-BLUE, #2E2F42);

/* Header 3 */
font-family: Roboto;
font-size: 20px;
font-style: normal;
font-weight: 500;
line-height: 24px; /* 120% */
letter-spacing: 0.4px;
}
.orard {
    color: var(--SLATE, #434455);

/* Body */
font-family: Roboto;
font-size: 16px;
font-style: normal;
font-weight: 400;
line-height: 24px; /* 150% */
letter-spacing: 0.32px;
}